extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text' placeholder='Name' name='name' value=(undefined===drink ? '' : drink.name))
    button.btn.btn-primary(type='submit') Add

  if error
    p= error