extends ../layouts/layout

block content
  h1= title
  form(id=id method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text' placeholder='Name' name='name' value=(undefined===drink ? '' : drink.name))
      label(for='description') Description:
      input#description.form-control(type='text' placeholder='(Optional)' name='description' value=(undefined===drink ? '' : drink.description))
      label(for='category') Category:
      select#cat.form-control(name='category' required)
        option(value='beer' selected=(undefined===drink ? '' : drink.category==='beer')) Beer
        option(value='wine' selected=(undefined===drink ? '' : drink.category==='wine')) Wine
        option(value='cider' selected=(undefined===drink ? '' : drink.category==='cider')) Cider
        option(value='spirits' selected=(undefined===drink ? '' : drink.category==='spirits')) Spirits
        option(value='other' selected=(undefined===drink ? '' : drink.category==='other')) Other
      label(for='abv') ABV:
      input#abv.form-control(type='number' placeholder=0.00 name='abv' value=(undefined===drink ? '' : drink.abv) step='0.01')
      label(for='size') Size (ml):
      input#size.form-control(type='number' placeholder=0 name='size' value=(undefined===drink ? '' : drink.size))
      label(for='price') Price:
      input#price.form-control(type='number' placeholder=0 name='price' value=(undefined===drink ? '' : drink.price) step='0.1')
    button.btn.btn-primary(type='submit') #{undefined===buttonCopy ? 'Add' : buttonCopy}

  if error
    p= error
