extends ../layouts/layout

block content
  h1 Add a new drink
  p Here are all your drinks

  if error
    p Doh, something went wrong

  else
    - const categories = [...new Set(data.map(drink => drink.category))];
    each cat in categories
      h3= cat
      ul
        - const drinks = data.filter(drink => drink.category === cat)
        each drink in drinks
          li= drink.name

  a(href='/add-drink') Add a drink
