<!DOCTYPE html>

<html>

<head>

</head>

<body>
  <h1>{{ title }}</h1>
  <p>{{ drinks }}</p>

  {{!--<div>--}}
  {{!--  <form>--}}
  {{!--    <select--}}

  {{!--      type=number--}}
  {{!--      placeholder=0--}}
  {{!--  </form>--}}
  {{!--</div>--}}
  <script src = './scripts.js'></script>
</body>

</html>
