extends ../layouts/login_layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='email') Email
      input(type='text' placeholder='Email address' name='email' value=(undefined===email ? '' : email))
      label(for='password') Password
      input(type='password' placeholder='Min. 8 characters' name='password')
    button.btn.btn-primary(type='submit') Login
  if error
    p= error
